/* CodeBlockComponent.css */
/* .code-block-container {
  background-color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  max-height: 150px;
} */

.mainn {
  place-items: center;
  height: 100vh;
  display: grid;
}

.code-text {
  color: green;
}

.container {
  max-width: 42rem;
  min-width: 25rem;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3a404d;
  border-radius: 10px;
  /* overflow-x: scroll; */
}

.nav-items {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  font-size: smaller;
  align-items: center;
  max-width: 42rem; /* Added */
  width: 100%; /* Added */
}

.nav-items p {
  margin: 0;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.copy-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding-right: 10px;
  margin-right: 5px;
}

.copy-btn ion-icon {
  font-size: 1.2rem;
}
